<div class='container py-5'>

 <section class="jumbotron text-center header mb-0 col-md-12">
    <div class="container mx-auto">
      <div class='row align-items-center justify-content-center mb-2'>
        <%= image_tag("kyklos.png", class: "d-block mx-5 logo") %> 
      </div>
    </div>
    <h5 class="header textos col-md-8 mx-auto text">En Kyklos nos cuidamos.</h5>
  </section>


  <h1 class='container d-block title mx-auto mt-3 mb-4'><%= @questions.last.title %></h1>

  <div class='container'>

    <%= form_with url: '/home/thanks', method: :get do |form| %>
      <%= form.label :value, "Aquí tu respuesta:", class:'col-6 d-block mx-auto my-3' %>
      <%= form.text_field :value, class:'col-6 d-block mx-auto my-3', rows:'6' %>
      <%= form.hidden_field :question_id, value:@questions.last.id %>
      <%= form.submit "Enviar" , class:'btn btn-success active text d-block mx-auto col-md-3', onclick:"window.location.href = 'http://localhost:3000/home/thanks'"%>
    <% end %>
  </div>

  <div class='container my-5 py-5'>
    <%= link_to "Admin", new_admin_session_path, class:'btn btn-warning text d-block mx-auto col-md-1'%>
  </div>  

</div>

